
services:
  app:
    build: .
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: ${PORT}
      APPID: ${APPID}
      APPSECRET: ${APPSECRET}
    ports:
      - "6688:6688"

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${DATABASE_USR}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: testdb
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine


  nginx:
    image: nginx:alpine
    depends_on:
      - app
    
volumes:
  db_data:
    
    

